@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
 
}

::-webkit-scrollbar-track {
  background: #373c41;
}

::-webkit-scrollbar-thumb {
  background: #646464;
  border-radius: 10px;
  margin: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6e6e6e;
}
